#page56 {
	background: url('scramback.png')	
}

#page58 {
	background: url('letters.png')	
}

#page60 {
	background: url('metal.png') no-repeat;
	background-size: 100%;	
}

.highscore {

	color: black;
}

.highscore2 {

	color: white;
}

  
#g5score {
  background-color:#000000;
  border:1px solid blue;
  opacity:0.5;

}

#g5pic {

	box-shadow: 10px 10px 5px #888888;
	opacity:0.9;

}