#page56 {
	background: url('scramback.png')	
}

#page58 {
	background: url('letters.png')	
}


.highscore {

	color: black;
}

.highscore2 {

	color: white;
}

#g5score {
  background-color:#000000;
  color:#FFFFFF;
  border:1px solid blue;
  opacity:0.5;

}

#g5pic {

	box-shadow: 5px 5px 10px #000000;

}